:root {
  --primary-color: #378dfc;
  --light-color: #f7f7f7;
  --border-color: #4371a012;
  --dark-bg:#485785;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  overflow-x: hidden !important;
}
html {
  scroll-behavior: smooth !important;
}

.light-bg {
  background-color: var(--light-color) !important;
}
.stylish-border {
  position: relative;
}

.stylish-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  height: 3px;
  width: 90%;
  right: 0;
  background-color: var(--border-color);
}

.text-right {
  text-align: right !important;
}
.fancy-text{
  font-family: 'Congratulation Folding';
}
.circle{
  width: 70px;
  height: 70px;
}
.container-margin{
  margin-top: 6rem !important;
}
.responsive-width{
  max-width: 40rem;
  width: 90%;
}
@media screen and (max-width: 768px) {
  .col-hide {
    display: none !important;
  }
}


.dark-bg{
  background-color: var(--dark-bg) !important;
}

.cart-img-box{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.cart-img-box img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.turncate-title{
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-modal .turncate-title{
  width: unset;
  white-space: normal;

}